*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* outline:1px solid red;   ? */
}
body{
    font-family: EB Garamond,serif;
    font-weight: 400;
    overflow-x:hidden;
}
.hero{
    height: 750px;  
    background-color: rgba(128, 128, 128, 0.525);
}
.hero_subtitle{
    letter-spacing:4px;
    opacity:1;
    top: 18%;
    position: absolute;
    font-size: 1.5rem;
}
.hero_title{
    color: #000000;
    font-size: 4rem;
    top: 5%;
    font-family: EB Garamond,serif;
}

.hero_name
{
    position: absolute;
    transform: scaleY(1.8);
    letter-spacing: 8px;
    top: 40%;
}
.hero_section_img{
    position: absolute;
    opacity:0;
    width: 650px;
    top: 20%;
}
.historyText
{
    font-family: EB Garamond,serif;
}
.line{
    position:absolute;
    /* left:100px; */
    width:3px;
    height:100%;
    z-index: -1;
    background:#000000;
}
.circle
{
    /* position: fixed; */
    z-index: 1000;
    top: 45%;
    transition: all 0.5s ease-in-out; 
}
.circle img:hover
{
    animation: rotate 2s ease;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
         transform: rotate(0deg);
    }
    
}

/* .circle img
{
    width: 40px;
    height: 40px;
} */
.timeline-item span{
    margin-left:20px;
    color:#777;
    font-size:18px;
}
.timeContents
{
    height: auto;
    margin-left: 10%;
}
.timeContentsImg
{
    width: 100%;
}
.timeItems
{
    height: 400px;
}
.timeItems:nth-child(odd) .timeContentsImgCont {
    background-color: rgb(177, 168, 168);
    height: fit-content;
    transform: rotate(-10deg);
}

.timeItems:nth-child(even) .timeContentsImgCont {
    background-color: rgb(177, 168, 168);
    transform: rotate(10deg);
    height: fit-content;
}

/* .timeline-path{
    position:absolute;
    width:100%;
    height:400px;
    left:0;
    top:25%;
    pointer-events:none;
} */
.timeContentsh1
{
    font-size: 6rem;
}
.timeContentsp
{
    font-size: 1.3rem;
    
}
.outer-card
{
    perspective: 1000px; 
    width: 100%;
    display: flex;
    align-items: center;
    height:320px;
}
.inner-card{
    transform-style: preserve-3d;
    position: relative;
    transition:all 1s ease;
    width: 100%;
    height: 100%;
}
.card-flip-front , .card-flip-back
{
    position: absolute;
    backface-visibility: hidden;
}

.card-flip-back{
    transform:rotateY(180deg)
}
.outer-card:hover .inner-card
{
    transform:rotateY(180deg) ;
}
.card-flip-front i{
    color: rgb(177, 168, 168);;
}
.card-back-img{
    width: 200px;
    left: 25%;
    filter: brightness(-1);
    bottom: 20%;
    opacity: 0.1;
}

@media screen and (max-width: 992px) {
    .hero_title
    {
        top: 2%;
        font-size: 3rem ;
    }
    .hero_name
    {
        width: 700px;
    }
    .hero_section_img
    {
        width: 500px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .card-back-img
    {
        left:6.5%;
    }
}
@media screen and (max-width: 768px) {
    
    .timeContentsImgCont
    {
        width: 300px;
    }
    .card-back-img
    {
        left:30%;
    }   
}